<h1>Stupid Coaching</h1>

<form action= "/answer" data-turbo="false">
  <p class="subheader">Ask your coach anything:</p>
  <div class="input-button">
  <input type="text" name="question">
  <input  class="btn btn-primary" type="submit" value="Ask!">
  </div>
</form>
